<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-8 p-lg-5 mx-auto my-6">
      <h1 class="display-4 font-weight-normal">Total Top </h1>
      <p class="lead font-weight-normal">Keep your finances up to date with use, Join!</p>
      <div>
        <a *ngIf="!loggedIn" class="btn btn-outline-secondary buttonsMargins" [routerLink]="['/login']">Login</a>
        <a *ngIf="!loggedIn" class="btn btn-outline-secondary buttonsMargins" [routerLink]="['/register']">Register</a>
      </div>
    </div>
  </div>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="row">
      <div class="col-md-4">
        <h3>Account</h3>
        <p>Hey there we are making a try</p>
      </div>
      <div class="col-md-4">
        <h3>Incomes</h3>
        <p>Hey there we are making a try</p>
      </div>
      <div class="col-md-4">
        <h3>Tax calculation</h3>
        <p>Hey there we are making a try</p>
      </div>
    </div>
  </div>